.w-35 {
    width:35%;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.modal-content {
    background-color: black;
}


    /* Inicio Nav */
.bg-dark {
    background-color: #73000a !important;
}
.navbar {
    z-index: 99999;
}
.navbar-brand img {
    width: 100px;
}
.nav-item {
    margin: 1rem;
}

.dropdown-item.active {
    background-color: white;
    color: black;
    text-decoration: underline;
}
.dropdown-item:hover {
    background-color: rgba(255, 0, 0, 0.39);
}
    /* Fin Nav */

    /* CARRITO */

#boton-carrito {
    color: white;
    border: none;
    font-size: 1.5rem;
    background-color: #73000a;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}
#boton-carrito:focus {
    outline: none;
}
#boton-carrito-desktop {
    color: white;
    border: none;
    font-size: 1.5rem;
    background-color: #73000a;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito-desktop:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}
#boton-carrito-desktop:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 750px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #73000a;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #73000a;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(225, 76, 65);
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
    /* FIN CARRITO */

/* Cards */
.card-img-top-consolas {
    height: 15rem;
    object-fit: contain;
}
.card-img-top-juegos {
    height: 20rem;
    object-fit: contain;
}

.btn-comprar {
    width: 50%;
}

.filter {
    display: none;
}
.carr_producto__img {
    overflow: hidden;
}
.carr_producto__img img {
    transition: all 0.5s;
}
.carr_producto__img img:hover {
    filter: grayscale(0.7) blur(1px);
    transform: scale(1.2);
}

/* Fin Cards */
.container__textos__index {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 15%, rgba(204,204,204,1) 50%, rgba(227,227,227,1) 85%, rgba(255,255,255,1) 100%);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* SearchBar */
.sticky-searchBar {
    top: 125px;
}

/* Productos Individuales */
.producto__texto {
    font-size: 2rem;
}
.producto__imagen {
    width: 100%
}

/* Form */
.form-label {
    font-size: 1.5rem;
    font-weight: 700;
    border: solid #73000a;
    border-inline: inherit;
    background-color: white;
}
.form-label::after {
    content: "*";
    color: red;
}
.form-control--color {
    border: 2px solid #73000a;
}

.form__container {
    height: 540px;
    position: relative;
}
.form__container::before {
    content: "";
    background-image: url("../assets/img/sony-games.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    
}

/* Footer */

.footer {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 11%, rgba(148,148,148,1) 40%, rgba(97,97,97,1) 62%);
    background: linear-gradient(0deg, rgba(34,34,34,1) 55%, rgba(45,45,45,1) 90%);
}
.footer-final {
    background-color: #1a1a1a;
}
.footer__logo {
    width: 100px;
    transition: all 0.5s;
}
.footer__logo:hover {
    transform: scale(1.1);
}
.footer__texto {
    color: white;
    font-weight: 400;
}

.footer__iconSocial {
    font-size: 2.5rem;
    color: #a3010f;
    padding: 1rem;
    transition: all 0.5s;
}


/*vista mobile*/
@media only screen and (min-width:0px) and (max-width:767px) {
    .logo__desktop {
        display: none;
    }
    .boton-carrito-desktop {
        display: none;
    }
    .modal-carrito {
        position: relative;
        background-color: white;
        min-width: 250px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: -100%;
        transition: all .5s;
    }
    .producto__texto {
        font-size: 1rem;
    }
    .productos__imagenes__container img {
        width: 50px;
    }
}

/* vista entre desktop y mobile */
@media only screen and (min-width:768px) and (max-width:1239px) {
    .logo__desktop {
        display: none;
    }
    .navbar-brand img {
        width: 125px;
    }
    .boton-carrito-desktop {
        display: none;
    }
    .productos__imagenes__container img {
        width: 100px;
    }
}

/*vista desktop */
@media only screen and (min-width:1240px) {
    .logo__mobile {
        display: none;
    }
    .boton-carrito-mobile {
        display: none;
    }
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }
    
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    
    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    
    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }
    
    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }
    
    .form-control {
        width: 75%;
    }

    a .footer__iconSocial:hover {
        transform: scale(1.2);
        color: white;
    }

    .producto__imagen {
        width: 85%;
    }
    .productos__imagenes__container img {
        width: 200px;
    }
}